max-tick-time=60000
generator-settings=
allow-nether=true
force-gamemode=false
gamemode=minecraft_property_gamemode
enable-query=false
player-idle-timeout=0
difficulty=minecraft_property_difficulty
spawn-monsters=true
op-permission-level=4
pvp=true
snooper-enabled=false
level-type=mirecraft_property_level_type
hardcore=false
enable-command-block=false
max-players=20
network-compression-threshold=minecraft_property_compression_threshold_bytes
resource-pack-sha1=
max-world-size=29999984
server-port=minecraft_property_port
server-ip=
spawn-npcs=true
allow-flight=minecraft_property_allow_flight
level-name=minecraft_data_subdir
view-distance=10
displayname=Fill this in if you have set the server to public\!
resource-pack=
discoverability=unlisted
spawn-animals=true
white-list=false
generate-structures=true
online-mode=true
max-build-height=256
level-seed=minecraft_property_level_seed
prevent-proxy-connections=false
use-native-transport=true
motd=minecraft_property_motd
enable-rcon=false
